extends layout

block content
  .w3-card-4
    header.w3-container.w3-red
      h1 App Cinematográfica
    .w3-container
      h2 Dados
      ul.w3-ul
        li 
          b UC: 
          | Engenharia Web
        li 
          b Curso: 
          | Licenciatura em Engenharia Informática
        li 
          b Ano letivo: 
          | 2024/2025
        li 
          b Docente: 
          | José Carlos Ramalho
        li 
          b Instituição: 
          | Universidade do Minho
        li
          b Nome: 
          | Júlia Costa
        li
          b Número: 
          | a103993
 
      h2 Filmes
      p
        a(href='/filmes') Lista de Filmes

    