doctype html
html
  head
    title Cinema
    link(rel='stylesheet', href='/stylesheets/w3.css')
    link(rel='icon', href='/images/cinema.png')
  body
    block content
    footer.w3-containet.w3-red 
      address 
        span Gerado por EngWeb2025 em #{date}.
        a(href='/') Início
